<section class="recipe-container">
 <% @recipes.each do |recipe| %>
          <div class='recipe-flex'>
            <div>
            <%= link_to recipe_path(recipe.id), remote: :true do %>
            <h2><%= recipe.name %></h2>
             <% end %>
            </div>
         
          <div class=recipe-description>
           <h3><%= recipe.description %></h3>
           </div>
           <div>
          <%if can? :destroy, recipe %>
           <%= button_to "Delete", recipe_path(recipe.id), method: :delete, class: "btn btn-danger"%>
          <% end %>
          </div>
          </div>
  <% end %>
</section>
