<section class="recipe-container">
<div>
 <% @recipes.each do |recipe| %>
      <div class= "recipe">
          <div>
            <h2><%= recipe.name %></h2>
          </div>
            <h3><%= recipe.description %></h3>
      </div>
      <%end%>
  </div>
</div>
</section>
