<p style="color: green"><%= notice %></p>


<div class="">
<%= render @recipe %>


  <h2></h2>
  <%= link_to "Back to recipes", recipes_path %>
  <%= button_to "Destroy this recipe", @recipe, method: :delete %>
</div>
